      TR,TD{  font-family : Verdana;  font-size : 10pt;  color : Black;}
	 #noborder2{border:0;} 
	 #topborder{border-left:none;border-right:none; border-bottom:none;}
	 #topborder2{border-left:none;border-right:none; border-top:none;}
	 leftindent2{margin-left:2em;}
	 leftindent5{margin-left:5em;}